.body 
{
    display: flex;

}
.headimg
{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 280px;
    
}

.header
{
    
    margin: -15px;
}

.bodytext
{
    justify-content: center;
    max-width: 400px;
}

.professional
{
    max-width: 400px;
    
}

.personal 
{
    
    max-width: 400px;
}