.body 
{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    background-color: aquamarine;
    

}
.headimg
{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 280px;
    font-family: sans-serif;
    
}
h1
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 100px;
    background-color: tan;
    margin-top: 0;
}
.header
{
    
    margin: -15px;
}

.bodytext
{
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;
    
    max-width: 600px;
    max-height: 1000px;
}


.professional
{
    max-width: 400px;
    
}

.personal 
{
    
    max-width: 400px;
}

.links
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    font-size: 30px;
    font-family: sans-serif;
    color: #1428BA;
    margin: 20px;
    margin-right: 50px;
    background-color: black;
    max-width: 150px;
}



